# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Build and deploy Python app to Azure Web App - taiwei-personal-website-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      # Install python
      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # Install uv
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      # Generate requirements.txt within uv
      - name: Generate requirements.txt
        working-directory: ./backend
        run: uv export --format requirements-txt --no-dev --output-file requirements.txt
      
      # Package the code
      - name: Zip artifact for deployment
        working-directory: ./backend
        run:  |
          zip -r release.zip . -x ".git/*" ".github/*" ".venv/*" "uv.lock"

      # Upload Artifact
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip
          
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
      
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'taiwei-personal-website-backend'
          slot-name: 'Production'

          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_0CA29E3683164DDE83BFE929C53854F7 }}
          package: release.zip
          app-settings-json: '[{"name": "SCM_DO_BUILD_DURING_DEPLOYMENT", "value": "true"}, {"name": "PYTHON_VERSION", "value": "3.12"}]'





